*{
    box-sizing: border-box;
}
body {
    padding: 70px 15%;
}
#slider {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid greenyellow;
}
